.myAdsParent {
  padding-top: 4rem;
}

.myAdsParent .myAdsChild .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
}

.myAdsParent .myAdsChild .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.myAdsParent .myAdsChild .menuBar .otherQuickOptions a {
  margin-left: 12px;
  padding: 10px;
}
.topCategory{
  color: #002f34;
  cursor: pointer;
}
.topCategory:hover{
  color: #00a49f;
}

.categoryMenu {
  cursor: pointer;
}

.myAdsMain {
  background-color: #fff;
  flex: 1;
  min-height: 350px;
  padding-bottom: 0;
}

.myAdsMainChild {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.myAdsMainSection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.myAdsMainSection:after{
  content: "";
    display: table;
    clear: both;
}

.topNavigation {
  display: flex;
  margin-top: 10px;
}

.topNavigationLeft {
  background: #fff;
  width: 100%;
  z-index: 1;
}

.topNavigationLeftDiv {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
}

.topNavigationLeft .topNavigationLists {
  height: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  display: flex;
}

.topNavigationLeft .topNavigationLists .topNavigationList {
  display: inline-flex;
  text-align: center;
}

.topNavigationLeft .topNavigationLists .topNavigationList .topNavList {
  border-bottom: 1px solid #dbdbdb;
  color: #002f34;
  text-decoration: none;
  padding: 0 16px;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  display: block;
  text-transform: uppercase;
}

.topNavigationLeft .topNavigationLists .topNavigationList .topNavList.topNavListTrue {
  color: #002f34;
  font-weight: 700;
  border-bottom: 5px solid #002f34;
}

.downloadLeadsDiv {
  flex-basis: 25%;
  display: flex;
  flex-direction: row-reverse;
}

.downloadLeadsBtn {
  color: #002f34;
  border-radius: 4px;
  border: 3px solid #002f34;
  font-family: Arial, Helvetica, sans-serif;
  ;
  padding: 0 10px;
  font-size: 16px;
  margin: 0;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: normal;
  text-decoration: none;
}
.downloadLeadsBtn:hover{
  border: 6px solid #002f34;
}

.downloadLeadsBtn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(25);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  background-image: radial-gradient(circle, rgba(0, 47, 52, .36) 10%, transparent 10.01%);
}

.downloadLeadsIcon {
  display: flex;
  margin-right: 8px;
}

.searchFilterDiv {
  display: flex;
  margin: 28px 0;
  justify-content: space-between;
}

.searchFilterDiv .searchSectionDiv {
  width: 300px;
  padding-right: 40px;
  padding-top: 4px;
}

.searchSectionDivChild {
  font-size: 14px;
  width: 100%;
  height: 36px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border-style: none;
}

.searchSectionDiv .searchSectionIconDiv {
  position: absolute;
  top: 8px;
  left: 8px;
}

.searchSectionDiv input {
  box-sizing: border-box;
  padding: 0 8px 0 40px;
  border: 1px solid rgba(0, 47, 52, .36);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.searchFilterDiv .filterSectionDiv {
  padding-top: 4px;
  display: flex;
  align-items: baseline;
}

.filterSectionTitle {
  padding: 0 8px 0 0;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

.filterSectionBtnLists.filterSectionBtnListsTrue {
  background-color: #c8f8f6;
}

.filterSectionBtnLists.filterSectionBtnListsFalse {
  border-color: #002f34;
  background: transparent;
}

.filterSectionBtnLists {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 12px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}
.showMyAdsHereDiv{
  display: flex;
}
.showMyAdsHereChild{
  flex: 1;
    flex-direction: column;
    width: 100%;
}
.showMyAdsHereBottom{
  padding-bottom: 40px;
}
.showMyAdsLists{
  margin: 0;
    padding: 0;
    list-style: none;
}
.showMyAdsList{
  border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 47 52 / 20%), 0 1px 3px 0 rgb(0 47 52 / 20%);
    margin-bottom: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #002f34;
    line-height: 1.5;
    display: block;
}
.showMyAdsListDate{
  display: flex;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    min-width: 120px;
    background-color: #ebeeef;
}
.showMyAdsList:hover{
  color: #002f34;
}
.showMyAdsListDiv{
  position: relative;
}
.showMyAdsListLeftSpan{
  background-color: #23e5db;
  border-radius: 4px 0 0 4px;
    height: 100%;
    width: 4px;
    position: absolute;
}
.showMyAdsListDetails{
  display: flex;
}
.showMyAdsList .showMyAdsListDate .showMyAdsListDateSection{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}
.showMyAdsListDateDiv{
  text-align: left;
    flex-direction: column;
    display: flex;
}
.showMyAdsListDiv>span>strong{
  padding-left: 4px;
}
.showMyAdsList .showMyAdsListMoreDetails{
  margin: 0 12px 0 16px;
    width: 100%;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild{
  display: inline-flex;
    justify-content: space-between;
    padding: 12px 0 8px;
    width: 100%;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultProduct{
  display: flex;
    width: 100%;
    height: 45%;
    color: #002f34;
    align-items: center;
    cursor: pointer;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultImgDiv{
  width: 8%;
    padding-right: 16px;
}
.resultImgFig{
  border-radius: 4px;
    border: 1px solid rgba(0, 47, 52, 0.2);
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    overflow: hidden;
}
.resultImg{
  height: 63px;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultTitleDiv{
  min-width: 25%;
    padding-right: 16px;
}
.resultTitleChild{
  display: flex;
    flex-direction: column;
    line-height: 20px;
    width: 200px;
}
.resultTitleChild .resultTitle{
  font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultPriceDiv{
  width: 15%;
    padding-right: 16px;
    direction: ltr;
}
.resultPrice{
  line-height: 24px;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultStatusDiv{
  width: 15%;
  padding-right: 16px;
  text-align: center;
}
.resultStatus{
  background-color: #23e5db;
    color: #002f34;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 700;
    justify-content: center;
    min-height: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 92px;
    height: 20px;
    margin-bottom: 4px;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .resultStatusDescriptionDiv{
  width: 35%;
    padding-right: 16px;
}
.resultStatusDescriptionChild{
  display: inline-flex;
}
.showMyAdsList .showMyAdsListMoreDetails .showMyAdsListMoreDetailsChild .showMoreOptionDiv{
  width: 300px;
}
.showMoreOptionChild{
  text-align: right;
    position: absolute;
    right: 8px;
    top: 8px;
}