.bannerParentDiv {
  padding-top: 4em;
}

.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
}


.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.hoverBlue:hover{
  color: #00a49f;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions a {
  text-decoration: none;
  margin-left: 12px;
  padding: 10px;
}

.topCategory{
  color: #002f34;
  cursor: pointer;
}
.topCategory:hover{
  color: #00a49f;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}

.categoryMenu{
  cursor: pointer;
}

.categoryMenuClick{
  transform: rotate(180deg);
}

.categoryLists{
  position: absolute;
  top: 110px;
  display: flex;
  width: 100%;
  z-index: 2;
}

.categoryListsChild{
  display: block;
  column-count: 4;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  justify-content: space-between;
  padding: 16px 16px 0;
}

.categoryDiv{
  display: inline-block;
  padding: 0 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0,47,52,.64);
  height: unset;
  line-height: unset;
  padding: 0;
  margin: 12px 0;
}

.category{
  margin: 8px 0;
}

.category .categoryList{
  padding: 0;
  text-decoration: none;
  color: #002f34;
  font-size: 14px;
  cursor: pointer;
}
.categoryList:hover{
  color: #00a49f;
}